{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b7a57872-f429-4eb3-b26a-5108178380a5/providers/microsoft.gallery.admin/galleryItems/Microsoft.KeyVault.1.0.14?api-version=2015-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b7a57872-f429-4eb3-b26a-5108178380a5/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.KeyVault.1.0.14\",\r\n  \"name\": \"Microsoft.KeyVault.1.0.14\",\r\n  \"type\": \"Microsoft.Gallery.Admin/galleryItems\",\r\n  \"properties\": {\r\n    \"identity\": \"Microsoft.KeyVault.1.0.14\",\r\n    \"publisher\": \"Microsoft\",\r\n    \"publisherDisplayName\": \"Microsoft\",\r\n    \"itemName\": \"KeyVault\",\r\n    \"itemDisplayName\": \"Key Vault\",\r\n    \"version\": \"1.0.14\",\r\n    \"summary\": \"Safeguard cryptographic keys and other secrets used by cloud apps and services.\",\r\n    \"longSummary\": \"With Key Vault, there is no need to provision, configure, patch, and maintain Hardware Security Modules (HSMs) and key management software. You can provision new vaults and encryption keys (or import keys from your own HSMs) in minutes and centrally manage your encryption keys, secrets, and policies.\",\r\n    \"description\": \"<b>Enhance data protection and compliance</b><br/>Secure key management is essential to protecting data in the cloud. With Azure Key Vault, you can safeguard encryption keys and application secrets like passwords using keys stored in hardware security modules (HSMs). For added assurance, you can import or generate your encryption keys in HSMs. If you choose to do this, Microsoft will process your keys in FIPS 140-2 Level 2 validated HSMs (hardware and firmware). Key Vault is designed so that [...]
