{
  "Entries": [
    {
      "RequestUri": "/subscriptions/57567fab-bab7-4071-9281-8efeda4c7995/providers/Microsoft.Network.Admin/adminOverview?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"\",\r\n  \"type\": \"Microsoft.Network.Admin/adminOverview\",\r\n  \"location\": \"\",\r\n  \"id\": \"/subscriptions/57567fab-bab7-4071-9281-8efeda4c7995/providers/Microsoft.Network.Admin/adminOverview/\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkHealth\": {\r\n      \"totalResourceCount\": 1,\r\n      \"healthyResourceCount\": 0,\r\n      \"errorResourceCount\": 0,\r\n      \"warningResourceCount\": 0,\r\n      \"healthUnknownCount\": 1\r\n    },\r\n    \"loadBalancerMuxHealth\": {\r\n      \"totalResourceCount\": 1,\r\n      \"healthyResourceCount\": 1,\r\n      \"errorResourceCount\": 0,\r\n      \"warningResourceCount\": 0,\r\n      \"healthUnknownCount\": 0\r\n    },\r\n    \"virtualGatewayHealth\": {\r\n      \"totalResourceCount\": 1,\r\n      \"healthyResourceCount\": 1,\r\n      \"errorResourceCount\": 0,\r\n      \"warningResourceCount\": 0,\r\n      \"healthUnknownCount\": 0\r\n    },\r\n    \"publicIpAddressUsage\": {\r\n      \"totalResourceCount\": 255,\r\n      \"inUseResourceCount\": 33\r\n    },\r\n    \"backendIpUsage\": {\r\n      \"totalResourceCount\": 411,\r\n      \"inUseResourceCount\": 13\r\n    },\r\n    \"macAddressUsage\": {\r\n      \"totalResourceCount\": 3998720,\r\n      \"inUseResourceCount\": 5\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvBEBqhw2WZ07cinHXGBA3AVSx0U9al6KfeO3wKGIsucPxrovliYEvrTK3e2/6KhbmIwYjUPuYIttfhaEL8aMuJNmleQ4fepmP3YmyCWlmgvqFiuwX9VFi9KNdX4nTJ1GPfdxGYTPOVqKyTcM1HDxn"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14382"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "57567fab-bab7-4071-9281-8efeda4c7995"
  }
}