{
  "Entries": [
    {
      "RequestUri": "/subscriptions/57567fab-bab7-4071-9281-8efeda4c7995/providers/Microsoft.Network.Admin/locations/local/quotas?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Default Quota\",\r\n      \"etag\": \"W/\\\"f6b0d071-da58-4a42-b5f7-b98e9f7b2dbf\\\"\",\r\n      \"type\": \"Microsoft.Network.Admin/quotas\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"maxPublicIpsPerSubscription\": 50,\r\n        \"maxVnetsPerSubscription\": 50,\r\n        \"maxVirtualNetworkGatewaysPerSubscription\": 1,\r\n        \"maxVirtualNetworkGatewayConnectionsPerSubscription\": 2,\r\n        \"maxLoadBalancersPerSubscription\": 50,\r\n        \"maxNicsPerSubscription\": 100,\r\n        \"maxSecurityGroupsPerSubscription\": 50,\r\n        \"migrationPhase\": \"None\"\r\n      },\r\n      \"id\": \"/subscriptions/57567fab-bab7-4071-9281-8efeda4c7995/providers/Microsoft.Network.Admin/locations/local/quotas/Default Quota\"\r\n    },\r\n    {\r\n      \"name\": \"Jeff\",\r\n      \"etag\": \"W/\\\"849e3a58-cd73-4352-b154-767c24a8347f\\\"\",\r\n      \"type\": \"Microsoft.Network.Admin/quotas\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"maxPublicIpsPerSubscription\": 50,\r\n        \"maxVnetsPerSubscription\": 50,\r\n        \"maxVirtualNetworkGatewaysPerSubscription\": 1,\r\n        \"maxVirtualNetworkGatewayConnectionsPerSubscription\": 2,\r\n        \"maxLoadBalancersPerSubscription\": 50,\r\n        \"maxNicsPerSubscription\": 10,\r\n        \"maxSecurityGroupsPerSubscription\": 50,\r\n        \"migrationPhase\": \"None\"\r\n      },\r\n      \"id\": \"/subscriptions/57567fab-bab7-4071-9281-8efeda4c7995/providers/Microsoft.Network.Admin/locations/local/quotas/Jeff\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvTmiyY+XBrVlPSnrhdWFmiNs2MpwG7tD19CMz3rgXGM7st4FK16rpopOsaS68W+HzztcSV8fG1L94Y/G1L+xkGL0nECA5tT2H34P5JdmQ5QhliIqJopB8Vj+m/0EEVx2KxZiTYwS1qPRJgFE1XzuP"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14387"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "57567fab-bab7-4071-9281-8efeda4c7995"
  }
}