{
  "Entries": [
    {
      "RequestUri": "/subscriptions/57567fab-bab7-4071-9281-8efeda4c7995/providers/Microsoft.Network.Admin/adminVirtualNetworks?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"testing-vnet\",\r\n      \"type\": \"Microsoft.Network.Admin/adminVirtualNetworks\",\r\n      \"location\": \"\",\r\n      \"id\": \"/subscriptions/57567fab-bab7-4071-9281-8efeda4c7995/providers/Microsoft.Network.Admin/adminVirtualNetworks/testing-vnet\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"configurationState\": {\r\n          \"status\": \"Success\",\r\n          \"lastUpdatedTime\": \"2018-03-02T14:17:40.6616399-08:00\",\r\n          \"virtualNetworkInterfaceErrors\": [],\r\n          \"hostErrors\": []\r\n        },\r\n        \"subscriptionId\": \"57567fab-bab7-4071-9281-8efeda4c7995\",\r\n        \"tenantResourceUri\": \"/subscriptions/57567fab-bab7-4071-9281-8efeda4c7995/resourceGroups/testing/providers/Microsoft.Network/virtualNetworks/testing-vnet\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvSURuEE9VbBHlZ/Bis9x0u+D3rML7h1Tiu1Fq5Tb+T9cFvm6mHPTk42SqDxi7HUbJ6iGne5PlaiacHuSJaV9U8WEKFYCcjx9Qyc9PPzQxDxEePRvvmqywMbeOe5dgNVD1VvTvMjJc+fq4iBrOnrit"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14378"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "57567fab-bab7-4071-9281-8efeda4c7995"
  }
}