{
  "Entries": [
    {
      "RequestUri": "/subscriptions/57567fab-bab7-4071-9281-8efeda4c7995/providers/Microsoft.Network.Admin/adminPublicIpAddresses?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"loadBalancerTestIp\",\r\n      \"type\": \"Microsoft.Network.Admin/adminPublicIPAddresses\",\r\n      \"location\": \"\",\r\n      \"id\": \"/subscriptions/57567fab-bab7-4071-9281-8efeda4c7995/providers/Microsoft.Network.Admin/adminPublicIPAddresses/loadBalancerTestIp\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"allocationMethod\": \"Dynamic\",\r\n        \"subscriptionId\": \"57567fab-bab7-4071-9281-8efeda4c7995\",\r\n        \"tenantResourceUri\": \"/subscriptions/57567fab-bab7-4071-9281-8efeda4c7995/resourceGroups/testing/providers/Microsoft.Network/publicIPAddresses/loadBalancerTestIp\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"testing-ip\",\r\n      \"type\": \"Microsoft.Network.Admin/adminPublicIPAddresses\",\r\n      \"location\": \"\",\r\n      \"id\": \"/subscriptions/57567fab-bab7-4071-9281-8efeda4c7995/providers/Microsoft.Network.Admin/adminPublicIPAddresses/testing-ip\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"ipAddress\": \"192.168.102.32\",\r\n        \"ipPool\": \"ee255780-ef6a-4b4f-85a0-99063f23bc65\",\r\n        \"allocationMethod\": \"Dynamic\",\r\n        \"subscriptionId\": \"57567fab-bab7-4071-9281-8efeda4c7995\",\r\n        \"tenantResourceUri\": \"/subscriptions/57567fab-bab7-4071-9281-8efeda4c7995/resourceGroups/testing/providers/Microsoft.Network/publicIPAddresses/testing-ip\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvYHU0P5cutRGhrj87NUNvb9iHfYq8UvCvCfzXrjUdf8I3CmiSiLaNBaYFZsT3NQVpB9N+XdxQ0zFqA2+dTzC+JK9UvHshBDAr3VYuoeaHvq2bPkiw2cR0baPVbc8MYsF+KSY1bj7eTKBAcU9hGaQF"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14358"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "57567fab-bab7-4071-9281-8efeda4c7995"
  }
}