{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0af9c33b-f7ac-4161-add5-17b2f0b6a669/providers/Microsoft.Subscriptions.Admin/delegatedProviders?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14609"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0af9c33b-f7ac-4161-add5-17b2f0b6a669"
  }
}