{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/providers/Microsoft.Subscriptions.Admin/offers?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852subscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantoffer374\",\r\n      \"name\": \"cnur9852tenantoffer374\",\r\n      \"type\": \"Microsoft.Subscriptions.Admin/offers\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"name\": \"cnur9852tenantoffer374\",\r\n        \"displayName\": \"cnur9852tenantoffer374\",\r\n        \"state\": \"Public\",\r\n        \"subscriptionCount\": 0,\r\n        \"maxSubscriptionsPerAccount\": 0,\r\n        \"basePlanIds\": [\r\n          \"/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852subscrrg374/providers/Microsoft.Subscriptions.Admin/plans/cnur9852tenantplan374\"\r\n        ],\r\n        \"addonPlans\": []\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852resellersubscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantsubsvcoffer374\",\r\n      \"name\": \"cnur9852tenantsubsvcoffer374\",\r\n      \"type\": \"Microsoft.Subscriptions.Admin/offers\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"name\": \"cnur9852tenantsubsvcoffer374\",\r\n        \"displayName\": \"cnur9852tenantsubsvcoffer374\",\r\n        \"state\": \"Public\",\r\n        \"subscriptionCount\": 1,\r\n        \"maxSubscriptionsPerAccount\": 0,\r\n        \"basePlanIds\": [\r\n          \"/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852resellersubscrrg374/providers/Microsoft.Subscriptions.Admin/plans/cnur9852subsvcplan374\"\r\n        ],\r\n        \"addonPlans\": []\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14917"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/providers/Microsoft.Subscriptions.Admin/subscriptions?$filter=providerNamespace%20eq%20'Microsoft.Subscriptions'&api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/providers/Microsoft.Subscriptions.Admin/subscriptions/9e8052f2-70df-44c0-8300-f97949ca75f0\",\r\n      \"subscriptionId\": \"9e8052f2-70df-44c0-8300-f97949ca75f0\",\r\n      \"delegatedProviderSubscriptionId\": \"2ac7d4ad-fece-4cf0-bc29-e8678897fa75\",\r\n      \"displayName\": \"cnur9852tenantresellersubscription374\",\r\n      \"owner\": \"tenantadmin1@msazurestack.onmicrosoft.com\",\r\n      \"tenantId\": \"d9b782d5-d098-4374-8f2c-3907cc34611c\",\r\n      \"routingResourceManagerType\": \"Default\",\r\n      \"offerId\": \"/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852resellersubscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantsubsvcoffer374\",\r\n      \"state\": \"Enabled\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14916"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourcegroups/cnur9852subscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantoffer374/offerDelegations/testOfferDelegation?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"subscriptionId\": \"9e8052f2-70df-44c0-8300-f97949ca75f0\"\r\n  },\r\n  \"location\": \"local\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852subscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantoffer374/offerDelegations/testOfferDelegation\",\r\n  \"name\": \"cnur9852tenantoffer374/testOfferDelegation\",\r\n  \"type\": \"Microsoft.Subscriptions.Admin/offers/offerDelegations\",\r\n  \"location\": \"local\",\r\n  \"properties\": {\r\n    \"subscriptionId\": \"9e8052f2-70df-44c0-8300-f97949ca75f0\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourcegroups/cnur9852subscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantoffer374/offerDelegations/testOfferDelegation?api-version=2015-11-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "2ac7d4ad-fece-4cf0-bc29-e8678897fa75"
  }
}